/build
/dist
/docs
/node_modules
/config/travis/deploy.key
/config/*.qiniu.config.js
/config/deploy/local.sh
*.diff.png
*.new.png
www

compilation-stats.json

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.idea
*.DS_Store
.*.swp
.*.swo
*~
*.bak
*_bak
*.log
nohup.out
