module.exports = {
  prefetch_urls: [
    'http://biqa.admin.99zmall.com/',
    'http://biqa.admin.99zmall.com/index.html'
  ],
  refresh_urls: [
    'http://biqa.admin.99zmall.com/',
    'http://biqa.admin.99zmall.com/index.html'
  ],
  accessKey: 'xxxxxxxxxxxxxxxx',
  secretKey: 'xxxxxxxxxxxx',
  debug: true,
};
