// Here you can add other styles

.no-info {
  > i {
    font-size: 50px;
    vertical-align: middle;
  }
}

.manage-setting {
  .region-item {
    span {
      display: inline-block;
      width: 80%;
    }
    padding: 10px 0;
  }
  .row {
    justify-content: center;
  }
}

.page-footer {
  .row {
    justify-content: center;
  }

  padding-left: 1.25rem;
  .col-auto {
    align-self: center;
    padding: 0 10px 0 0;
  }
  input {
    width: 50px;
  }
  ul {
    margin: 0;
  }
}

.invalid-feedback {
  display: block;
}

.newly-shop {
  .sort {
    margin-bottom: 20px;
  }
  .shop_type {
    span {
      display: inline-block;
      width: 50%;
    }
  }
}

.modal-body-channels {
  max-height: 500px;
  overflow: scroll;
}
