.invalid-feedback {
  display: block;
}
.newly-shop {
  .pr0-center {
    padding-right: 0;
    align-self: center;
  }
  .sort {
    margin-bottom: 20px;
  }
  .shop_type {
    span {
      display: inline-block;
      width: 50%;
    }
  }
}